<!-- Loop over each object in the projects array -->
{{#each weapons as |weapon| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
  
      <a href="/project/{{weapon.id}}">{{weapon.name}}</a>
    </h2>
    
    <p>Created by {{weapon.review_users.name}} </p>
  </div>
  <div class="col-md-7">
    <p>
      {{weapon.description}}
    </p>
  </div>
</div>
{{/each}}
