{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>
 --}}

  <style>
        body {
            background-image: url(../public/Images/landing.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Submachine Guns</a>
                    <a class="nav-link" href="#">Automatic Assault Rifles</a>
                    <a class="nav-link" href="#">Sniper Rifles</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center w-100">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Submachine Guns</h5>
                    <img src="../public/Images/smg2.jpg" alt="alternatetext">
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Automatic Assault Rifles</h5>
                    <img src="../public/Images/AR2.jpg" alt="alternatetext">

                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Sniper Rifles</h5>
                    <img src="../public/Images/sniper2.jpg" alt="alternatetext">

                </div>
            </div>
        </div>
    </div>



<script src="./js/profile.js"></script>
