{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>
 --}}

   <style>
        body {
            background-image: url(/Images/WZ-FUTURE-003.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
   

    <div class="container">
        <div class="row justify-content-center w-100">
            <div class="card-page3" style="width: 80rem;">
                <div class="row justify-content-center w-100">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Submachine Guns</h5>
                            <img src="/Images/smg2.jpg" alt="alternatetext">
                        </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Automatic Assault Rifles</h5>
                            <img src="/Images/AR2.jpg" alt="alternatetext">

                        </div>
                    </div>
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Sniper Rifles</h5>
                            <img src="/Images/sniper2.jpg" alt="alternatetext">

                        </div>
                    </div>
                </div>
            </div>




