<div class="text-center">
  <h2>{{name}}'s Reviews</h2>
  <p2>{{#each user.reviews as |review|}}
    {{> review-details}}
    {{/each}}</p>
  {{!-- <p>Created by {{user.name}} on {{format_date date_created}}</p> --}}
  <p>
    
  <p>
    <button class="btn btn-primary">Leave a new review!</button>
  </p>
</div>