   <div class="container-2">
        <div class="row justify-content-center w-100">
            <div class="card-page3" style="width: 80rem;">
                <div class="card-body">
                    <h3 class="cardTitle">{{weapon.weapon_category}}</h3>
                </div>
            </div>
        </div>
    </div>



 