#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


/* MAIN PAGE LOG IN */

.cardMain {
    font-family: 'Keania One', cursive;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    justify-content: center;
    align-content: center;
    margin: 3%;
    margin-top: 20%;
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
    background-image: linear-gradient(to bottom right, rgb(30, 29, 35), rgb(119, 121, 90));
}

.headerMain {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    font-size: 35px;
    text-align: center;
    font-family: 'Keania One', cursive;
    color: white;
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
    background-image: linear-gradient(to bottom right, rgb(30, 29, 35), rgb(119, 121, 90));
}

h4 {
    color: white;
}

.form-group {
    color: white;
}


/* Cards for weapons options  */

.card {
    font-family: 'Keania One', cursive;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 3%;
    margin-top: 15%;
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(30, 29, 35), rgb(119, 121, 90));
}

.card:hover {
    transform: scale(1.1);
}


/* Large card for page 2 */

.card-page2 {
    font-family: 'Keania One', cursive;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    height: 600px;
    text-align: center;
    margin-top: 8%;
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
}

.card-title {
    font-size: 20px;
    color: white;
}


/* NavBar for page 2*/

.navbar {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
    background-image: linear-gradient(to bottom right, rgb(30, 29, 35), rgb(119, 121, 90));
}

.nav-link {
    color: white;
}


/* Smaller cards for page 2 */

.card2 {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
    background-image: linear-gradient(to bottom right, rgb(30, 29, 35), rgb(119, 121, 90));
}

.card2:hover {
    transform: scale(1.1);
}

.card-title2 {
    color: white;
}


/* header on page 2 */

h2 {
    font-size: 75px;
    color: white;
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
    background-image: linear-gradient(to bottom right, rgb(30, 29, 35), rgb(119, 121, 90));
}


/* Styles for page 3 */

.card-page3 {
    font-family: 'Keania One', cursive;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    height: 600px;
    text-align: center;
    margin-top: 8%;
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
}

.card-title {
    font-size: 20px;
    color: white;
}


/* NavBar for page 3*/

.navbar2 {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
    background-image: linear-gradient(to bottom right, rgb(30, 29, 35), rgb(119, 121, 90));
}

.nav-link {
    color: white;
}


/* Smaller cards for page 3 */

.card3 {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
    background-image: linear-gradient(to bottom right, rgb(30, 29, 35), rgb(119, 121, 90));
}

.card3:hover {
    transform: scale(1.1);
}

.card-title2 {
    color: white;
}


/* header on page 3*/

h3 {
    font-size: 75px;
    color: white;
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
    background-image: linear-gradient(to bottom right, rgb(30, 29, 35), rgb(119, 121, 90));
}

#logout {
    color: white;
    text-align: right;
    font-family: 'Keania One', cursive;
}

#reviews {
    margin-left: 20%;
    color: white;
    font-family: 'Keania One', cursive;
    white-space: nowrap;
}

#userReview {
    font-family: 'Keania One', cursive;
}

#profile {
    font-family: 'Keania One', cursive;
}