header {
    font-family: 'Kanit', sans-serif;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    text-align: center;
    font-size: 75px;
    color: white;
    margin-bottom: 25%;
    background-image: linear-gradient(to bottom right, rgb(79, 39, 9), rgb(7, 55, 15));
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
}

.h2 {
    font-size: 25px;
}

.card {
    font-family: 'Kanit', sans-serif;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 3%;
    box-shadow: 10px 10px 5px rgba(21, 21, 21, 0.865);
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(79, 39, 9), rgb(7, 55, 15));
}

.card:hover {
    transform: scale(1.1);
}


/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
} */